.container { 
  width: 960px; 
  margin: 0 auto;
}
.box {margin: 10px; padding: 0 5px; border: 1px solid #ccc; width: 30%;}
.boxes {
  display: -webkit-box;  
  display: -moz-flexbox;  
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: -moz-flex;     
  display: flex;         
}

.boxes.zero {
  -webkit-box-align: stretch; 
  -moz-box-align: stretch; 
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;    
}
